/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media all {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    font-size: 14px;
    #main-container {
      padding-left: 0px;
      padding-right: 0px;
      .content-area {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  body {
    font-size: 16px;
    .content-area {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
@media (min-width: $screen-md-min) {
  body {
    font-size: 18px;
    .content-area {
      padding-left: 90px;
      padding-right: 90px;
    }
  }
}

// to create the single column effect all of these have to be set to 100%
html, body, #main-container, .content-area {
  height: 100%;
}

body {
  background: #000;
  font-family: 'Lato', sans-serif;
  
  .navbar {
    margin-top: 20px;
    border-radius: 0px;
    background: #eee;
    .navbar-brand {
      color: #333;
      font-weight: bold;
      letter-spacing: -1px;
      //text-transform: uppercase;
      font-size: 20px;
    }
    .active2 {
      background: #E2E2E2;
    }
    .dropdown-menu {
      background: #eee;
    }
  }
  
  .content-area {
    background: #eee;
    margin-bottom: -30px;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    
    p {
      margin-left: 2em;
    }
    
    .form-control {
      margin-bottom: 0.5em;
    }
    .btn {
      background-color: #555;
      border-color: #333;
    }
    .mail-body {
      width: 100%;
      height: 300px;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    a:hover {
      color: #999;
    }
  }
  .footer {
    background: #eee;
    height: 30px;
    text-align: right;
    padding-right: 3em;
    a {
      color: #eee;
      text-decoration: none;
      margin-right: 2em;
    }
    a:hover {
      color: #333;
    }
  }
}