body.controller-games {
  
  // so you dont see the text selection cursor
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .nav{
    li:first-child {
      border-right: 0.1em solid #ddd;
    }
    li:last-child {
      border-left: 0.1em solid #ddd;
    }
  } 
  
  // the bit that creates the rectangles that scale to the width of the screen
  // the ones that hold the puzzle and controls
  
  .outer { 
    width: 100%;
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
    .inner {
      padding-top: 100%; // defines aspect ratio
      width: 100%;
      position: relative;
      .scaled-container {
        position: absolute; // this, with the padding is where the magic is.
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
      }
    }
  }
  
  // the css related to the puzzle, it's squares and each squares contents.
  .puzzle-outer {
    margin-top: 1em;
    .puzzle-inner {
      padding-top: 100%; // defines aspect ratio
    }
  }
  
  .square, .control {
    padding: 0px;
    height: 11%;
    width: 11%;
    color: #333;
    background-color: #eee;
    border: 0.1em solid #333;
    display: block;
    float: left;
    text-align: center;
    cursor: default;
    .square-text, .pencil-container, .pencil-text {
      padding: 0px;
      margin: 0px;
    }
    .square-text {
      //display: none;
    }
    .pencil-container {
      padding-top: 2%;
      height: 100%;
      width: 100%;
      display: none;
      .pencil-text {
        float: left;
        text-align: center;
        cursor: default;
        height: 33%;
        width: 33%;
      }
    }
  }
  
  // the bit to make showing/ hiding the pencil element easier.
  
  .square.pencil {
    .square-text{
      display: none;
    }
    .pencil-container{
      display: block;
    }
  }
  .square.pen {
    color: #2C50A2;
  }
  .square.bold {
    font-weight:bold;
  }
  .square.collided {
    color: red;
  }
  
  // for the creation of the grid effect on the puzzle
  .thick-top {
    border-top: 0.3em solid #333;
  }
  .thick-bottom {
    border-bottom: 0.3em solid #333;
  }
  .thick-left {
    border-left: 0.3em solid #333;
  }
  .thick-right {
    border-right: 0.3em solid #333;
  }
  
  // for the various spotlighting/highlighting effects
  .square:hover {
    background-color: #ddd;
  }
  .square.redHighlighter {
    background-color: #ebb;
  }
  .square.blueHighlighter {
    background-color: #ace;
  }
  .square.redHighlighter.blueHighlighter {
    background-color: #cbe;
  }
  .square.redHighlighter:hover {
    background-color: #daa;
  }
  .square.blueHighlighter:hover {
    background-color: #9bd;
  }
  .square.redHighlighter.blueHighlighter:hover {
    background-color: #bad;
  }
  
  
  // the css related to the look and behaviour of the tools and
  // number pallet
  .controls-outer {
    .controls-inner {
      padding-top: 22%; // defines aspect ratio
    
      .control {
        border-radius: 0.5em;
        background: #eee;
        background-image: -webkit-linear-gradient(top, #eee, #ddd);
        background-image: -moz-linear-gradient(top, #eee, #ddd);
        background-image: -ms-linear-gradient(top, #eee, #ddd);
        background-image: -o-linear-gradient(top, #eee, #ddd);
        background-image: linear-gradient(to bottom, #eee, #ddd);
      }
      
      .control:hover, .num-select.active {
        background: #bbb;
        background-image: -webkit-linear-gradient(top, #bbb, #aaa);
        background-image: -moz-linear-gradient(top, #bbb, #aaa);
        background-image: -ms-linear-gradient(top, #bbb, #aaa);
        background-image: -o-linear-gradient(top, #bbb, #aaa);
        background-image: linear-gradient(to bottom, #bbb, #aaa);
        
        font-weight: bold;
      }
      
      
      #pencil, #pen {
        height: 48%;
        width: 33%;
      }
      
      .hi-lighter, .eraser, .num-select {
        height: 48%;
      }
      
      .image-container {
        height: 100%;
        width: 100%;
        background-size: 100%;
      }
      
      .image-pencil {
        background-image: image-url("inactive-pencil.png");
      }
      
      .image-pencil:hover, .active.tool .image-pencil {
        background-image: image-url("active-pencil.png");
      }
      
      .image-pen {
        background-image: image-url("inactive-pen.png");
      }
      
      .image-pen:hover, .active.tool .image-pen{
        background-image: image-url("active-pen.png");
      }
      
      .image-eraser {
        background-image: image-url("inactive-eraser.png");
      }
      
      .image-eraser:hover, .active.tool .image-eraser{
        background-image: image-url("active-eraser.png");
      }
      
      .image-highlighter {
        background-image: image-url("inactive-highlighter.png");
      }
      
      .image-red-highlighter:hover, .active.tool .image-red-highlighter {
        background-image: image-url("active-red-highlighter.png");
      }
      
      .image-blue-highlighter:hover, .active.tool .image-blue-highlighter {
        background-image: image-url("active-blue-highlighter.png");
      }
    }
  }
  
}

